* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-color: #66c4ca;
  position: relative;
  font-size: 18px;
}

.member-login {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 20vh;
  left: 40%;
  background: linear-gradient(to left, #141414 50%, #2c2c2c 50%);
  border-radius: 50%;
  text-align: center;
}
.title {
  position: absolute;
  top: 20%;
  left: 25%;
  font-weight: 100;
  font-size: 30px;
}
.user,
.pass {
  position: absolute;
  background-color: #2c2c2c67;
  border: 1px solid #6b6b6b;
  width: 60%;
  left: 20%;
}
.user {
  top: 35%;
}
.pass {
  top: 40%;
  margin-top: 10%;
}
.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25%;
  left: 5%;
}
.inp {
  width: 85%;
  height: 50px;
  border: none;
  outline: none;
  margin-left: 15%;
  background-color: inherit;
}
.login {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: rgba(255, 0, 64, 0.877);
  border: none;
  position: absolute;
  top: 75%;
  left: 60%;
  font-size: 25px;
}
